* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #ec4c7a;
  font-size: 50px;
  margin-bottom: 30px;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}
p {
  color: dimgray;
  letter-spacing: 1.5px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 43px;
}
.half-part {
  width: 35%;
  float: left;
  margin-left: 5.5%;
  padding: 55px 45px;
}
img {
  width: 100%;
  margin-top: -110px;
}
.button {
  text-decoration: none;
  padding: 10px 20px;
  background-image: linear-gradient(45deg, #ec4f8e, #ec4b73);
  color: white;
  border-radius: 5px;
}
.header {
  background-image: url(images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  height: 600px;
  padding-top: 100px;
  padding-bottom: 150px;
}
.Biography {
  background-image: url(images/biography-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#work-title {
  text-align: center;
  margin-bottom: 220px;
}
.work {
  margin-left: 140px;
}
.work-img {
  width: 28%;
  float: left;
  margin: 10px;
}

.latest-work {
  background-image: url(images/latest-work-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
